name: Release Drafter

on:
  push:
    branches:
      - master

jobs:
  update_release_drafter:
    runs-on:
      group: large-runners
    steps:
      - uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
